<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Auto Training</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script>

        function doAutoTraining(){
          var progdiv = document.getElementById('learnProgressInfo');
          var progBar = document.getElementById('trainprog');
          var progPerc = document.getElementById('trainPerc');
          var ipImgDiv = document.getElementById('autoIpImg');
          var opImgDiv = document.getElementById('autoOpImg');

          var btnStart = document.getElementById('btnStart');
          btnStart.className = 'user-button-dissabled';


          try{
                    do{
                      xmlhttp = new XMLHttpRequest();
                      xmlhttp.open("GET", "http://localhost:5001/autoTrainStatus", false);
                      xmlhttp.send();
                      resp = JSON.parse(xmlhttp.response);
                    
                      progBar.style.width = resp.perc + "%";
                      progPerc.textContent = resp.perc + " %";
                      ipImgDiv.style.backgroundImage = "url('" + resp.ipImage + "')";
                      opImgDiv.style.backgroundImage = "url('" + resp.opImage + "')";
                    }while(xmlhttp.status == 200 && resp.status != "done");

          }
          catch(err){ }
          finally{
              btnStart.className = 'user-button-enabled';
          }
        }
    </script>
  </head>
  <body>
    <div id="learnProgressInfo" class="progdiv">
        <div id="links" class="applinks">
            <span class="dissabledlink nonSelectableText">Auto Training</span>
            <span class="selectablelink nonSelectableText" onclick="window.location.replace('./manual')">Manual Training</span>
            <span class="selectablelink nonSelectableText" onclick="window.location.replace('./validate')">Validation</span>
          </div>

        <div id="autoIpImg" class="trainimagediv" style="margin-top: 10%; margin-left: 10%; background-image: url('/images/sheppLoganPhantom.png'); background-repeat: no-repeat; background-size: 100% 100%"></div>
        <div id="autoOpImg" class="trainimagediv" style="margin-top: 10%; margin-left: 65%; background-image: url('/images/sheppLoganPhantom.png'); background-repeat: no-repeat; background-size: 100% 100%"></div>
        <div class="progressbar" style="margin-top: 15%;margin-left: 38%;">
            <div id = "trainprog" style="background: green; height: 100%; width: 0%"></div>
        </div>
        <div id= "trainPerc" class="progressperc" style="margin-top: 3%; margin-left: 45%;">
          0 %
        </div>
        <div class="nonSelectableText" style="position: absolute; margin-top: -9%; margin-left: 10%;">
            <div style="position: absolute; width: 300px; background: rgb(204, 203, 203);
                                      color: #363636;
                                      text-align: center;
                                      font-size: 30px;
                                      pointer-events: none;
                                      cursor: default;">
              Input Image
            </div>
        </div>
        <div class="nonSelectableText" style="position: absolute; margin-top: -9%; margin-left: 65%;">
            <div style="position: absolute; width: 300px; background: rgb(204, 203, 203);
                                      color: #363636;
                                      text-align: center;
                                      font-size: 30px;
                                      pointer-events: none;
                                      cursor: default;">
              Ground Truth
            </div>
        </div>
        <div class="nonSelectableText" style="position: absolute; margin-top: -10%; margin-left: 41%;">
            <div id="btnStart" class="user-button-enabled" style="position: absolute; width: 200px;" onclick="doAutoTraining()">
              Start Training
            </div>
        </div>
    </div>

  </body>
</html>