<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Manual Training</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>

      <div class="progdiv">
          <div id="links" class="applinks">
              <span class="selectablelink nonSelectableText" onclick="window.location.replace('./auto')">Auto Training</span>
              <span class="dissabledlink nonSelectableText">Manual Training</span>
              <span class="selectablelink nonSelectableText" onclick="window.location.replace('./validate')"">Validation</span>
          </div>

          <div id="ipImg" class="trainimagediv" style="margin-top: 10%; margin-left: 5%; background-image: url('/images/sheppLoganPhantom.png'); background-repeat: no-repeat; background-size: 100% 100%"></div>

          <div class="nonSelectableText" style="position: absolute; margin-top: 6%; margin-left: 5%;">
              <div style="position: absolute; width: 300px; background: rgb(204, 203, 203);
                                        color: #363636;
                                        text-align: center;
                                        font-size: 30px;
                                        pointer-events: none;
                                        cursor: default;">
                Input Image
              </div>
          </div>
          <div class="nonSelectableText" style="position: absolute; margin-top: 33%; margin-left: 5%;">
              <div id="btnNext" class="user-button-enabled" style="position: absolute; width: 300px;" onclick="onNext()">
                Next
              </div>
          </div>
      </div>
  </body>
</html>