<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Auto Training</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script>

        function doProcessing(){
          var opImgDiv = document.getElementById('opImg');
          var expImgDiv = document.getElementById('imgexp');
          var lbl1 = document.getElementById('measureDiv1');
          var lbl2 = document.getElementById('measureDiv2');
          var lbl3 = document.getElementById('measureDiv3');
          var lbl4 = document.getElementById('measureDiv4');

          try{
                xmlhttp = new XMLHttpRequest();
                xmlhttp.open("GET", "http://localhost:5001/getProcessed", false);
                xmlhttp.send();
                resp = JSON.parse(xmlhttp.response);
              
                opImgDiv.style.backgroundImage = "url('" + resp.opImage + "')";
                expImgDiv.style.backgroundImage = "url('" + resp.expImage + "')";
                lbl1.innerText = resp.labels[0];
                lbl2.innerText = resp.labels[1];
                lbl3.innerText = resp.labels[2];
                lbl4.innerText = resp.labels[3];
          }
          catch(err){ }
          finally{
              
          }
        }

        function onNext(){
          var opImgDiv = document.getElementById('opImg');
          var expImgDiv = document.getElementById('imgexp');
          var ipImgDiv = document.getElementById('ipImg');
          var btnNext = document.getElementById('btnNext');

          try{
                xmlhttp = new XMLHttpRequest();
                xmlhttp.open("GET", "http://localhost:5001/getNextValidation", false);
                xmlhttp.send();

                resp = JSON.parse(xmlhttp.response);
                if(resp.status == "ok"){
                    ipImgDiv.style.backgroundImage = "url('" + resp.imageurl + "')";
                    opImgDiv.style.backgroundImage = "url('/images/sheppLoganPhantom.png')";
                    expImgDiv.style.backgroundImage = "url('/images/sheppLoganPhantom.png')";
                }
                else if(resp.status == "done"){
                  btnNext.className = 'user-button-dissabled';
                }
          }
          catch(err){ }
          finally{
              
          }
        }
    </script>
  </head>
  <body>
    <div class="progdiv">
        <div id="links" class="applinks">
            <span class="selectablelink nonSelectableText" onclick="window.location.replace('./auto')">Auto Training</span>
            <span class="selectablelink nonSelectableText" onclick="window.location.replace('./manual')">Manual Training</span>
            <span class="dissabledlink nonSelectableText">Validation</span>
          </div>

        <div id="ipImg" class="trainimagediv" style="margin-top: 10%; margin-left: 5%; background-image: url('/images/sheppLoganPhantom.png'); background-repeat: no-repeat; background-size: 100% 100%"></div>
        <div id="opImg" class="trainimagediv" style="margin-top: 10%; margin-left: 42%; background-image: url('/images/sheppLoganPhantom.png'); background-repeat: no-repeat; background-size: 100% 100%"></div>
        <div id="imgexp" class="trainimagediv" style="margin-top: 10%; margin-left: 65%; background-image: url('/images/sheppLoganPhantom.png'); background-repeat: no-repeat; background-size: 100% 100%"></div>
        
        <div class="nonSelectableText" style="position: absolute; margin-top: 6%; margin-left: 5%;">
            <div style="position: absolute; width: 300px; background: rgb(204, 203, 203);
                                      color: #363636;
                                      text-align: center;
                                      font-size: 30px;
                                      pointer-events: none;
                                      cursor: default;">
              Input Image
            </div>
        </div>
        <div class="nonSelectableText" style="position: absolute; margin-top: 6%; margin-left: 42%;">
            <div style="position: absolute; width: 300px; background: rgb(204, 203, 203);
                                      color: #363636;
                                      text-align: center;
                                      font-size: 30px;
                                      pointer-events: none;
                                      cursor: default;">
              Output Image
            </div>
        </div>
        <div class="nonSelectableText" style="position: absolute; margin-top: 6%; margin-left: 65%;">
            <div style="position: absolute; width: 300px; background: rgb(204, 203, 203);
                                      color: #363636;
                                      text-align: center;
                                      font-size: 30px;
                                      pointer-events: none;
                                      cursor: default;">
              Expected Image
            </div>
        </div>

        <div class="nonSelectableText" style="position: absolute; margin-top: 33%; margin-left: 42%;">
            <div id="measureDiv1" style="width: 300px;
                                    color: white;
                                    text-align: left;
                                    font-size: 13px;
                                    pointer-events: none;
                                    cursor: default;">
            </div>
            <div id="measureDiv2" style="width: 300px;
                                    color: white;
                                    text-align: left;
                                    font-size: 13px;
                                    pointer-events: none;
                                    cursor: default;">
            </div>
            <div id="measureDiv3" style="width: 300px;
                                    color: white;
                                    text-align: left;
                                    font-size: 13px;
                                    pointer-events: none;
                                    cursor: default;">
            </div>
            <div id="measureDiv4" style="width: 300px;
                                    color: white;
                                    text-align: left;
                                    font-size: 13px;
                                    pointer-events: none;
                                    cursor: default;">
            </div>
        </div>

        <div class="nonSelectableText" style="position: absolute; margin-top: 20%; margin-left: 30%;">
            <div id="btnProcess" class="user-button-enabled" style="position: absolute; width: 120px;" onclick="doProcessing()">
              Process
            </div>
        </div>
        <div class="nonSelectableText" style="position: absolute; margin-top: 33%; margin-left: 5%;">
            <div id="btnNext" class="user-button-enabled" style="position: absolute; width: 300px;" onclick="onNext()">
              Next
            </div>
        </div>
    </div>

  </body>
</html>